{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_category_index' %}

{% block com_title %}Categories: {{ catroot|title }}{% endblock %}

{% block com_actions %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ path('admin_category_new', { 'catroot':catroot}) }}"><i class="fa fa-plus"></i> Create New Category</a></li>
    </ul>
{% endblock %}

{% block main %}

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <form action="{{ path('admin_post_bulk') }}" method="post" id="adminListForm" name="adminListForm">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><input type="checkbox" id="checkAll"/></th>
                <th>{{ 'label.id'|trans }}</th>
                <th>{{ 'label.title'|trans }}</th>
                <th>{{ 'label.slug'|trans }}</th>
                <th><i class="fa fa-calendar"></i> {{ 'label.published_at'|trans }}</th>
                <th><i class="fa fa-calendar"></i> {{ 'label.updated_at'|trans }}</th>
                <th class="text-center"><i class="fa fa-cogs"></i> {{ 'label.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for cat in cats %}
            <tr>
                <td><input name="cid[]" value="{{ cat.id }}" type="checkbox" class="adminRowCB"></td>
                <td>{{ cat.id }}</td>
                <td><a href="{{ path('admin_category_edit', { 'catroot':catroot, id: cat.id }) }}">{{ cat }}</a></td>
                <td class="small">{{ cat.slug }}</td>
                <td>{% if cat.createdAt %}{{ cat.createdAt|localizeddate('short', 'short') }}{% endif %}</td>
                <td>{% if cat.updatedAt %}{{ cat.updatedAt|localizeddate('short', 'short') }}{% endif %}</td>
                <td class="text-center">
                    <div class="btn-group" role="group" aria-label="actions">
                        <a href="{{ path('admin_category_show', { 'catroot':catroot,id: cat.id }) }}" data-toggle="tooltip" title="{{ 'action.show'|trans }}">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a href="{{ path('admin_category_edit', { 'catroot':catroot,id: cat.id }) }}" data-toggle="tooltip" title="{{ 'action.edit'|trans }}">
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8" align="center">No Categories Found</td>
           </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="form-inline">
        <div class="form-group">
            Pending...
        </div>
        <button type="submit" class="btn btn-default" onclick="$('#adminListForm').submit();">Apply</button>
    </div>
    </form>
    <script type="text/javascript">
        $("#checkAll").change(function () {
            $(".adminRowCB").prop('checked', $(this).prop("checked"));
        });
    </script>
    <div class="navigation text-center">
        {{ knp_pagination_render(cats) }}
    </div>

{% endblock %}

{% block sidebar %}
    <div class="panel panel-primary">
        <div class="panel-heading"><i class="fa fa-filter"></i> Filters</div>
        <div class="panel-body">
            {{ form_start(filterform) }}
            {{ form_widget(filterform) }}
            {{ form_end(filterform) }}
        </div>
    </div>

    {{ parent() }}
{% endblock %}

{% block bot_right %}
    {{ show_source_code(_self) }}
{% endblock %}
