{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_index' %}

{% block main %}
    <h1>{{ 'title.post_list'|trans }}</h1>

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <form action="{{ path('admin_post_bulk') }}" method="post" id="adminListForm" name="adminListForm">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><input type="checkbox" id="checkAll"/></th>
                <th>{{ 'label.id'|trans }}</th>
                <th>{{ 'label.title'|trans }}</th>
                <th><i class="fa fa-check"></i> {{ 'label.status'|trans }}</th>
                <th><i class="fa fa-user"></i> {{ 'label.author'|trans }}</th>
                <th><i class="fa fa-calendar"></i> {{ 'label.published_at'|trans }}</th>
                <th><i class="fa fa-calendar"></i> {{ 'label.updated_at'|trans }}</th>
                <th><i class="fa fa-comments"></i> {{ 'label.comments'|trans }}</th>
                <th><i class="fa fa-cogs"></i> {{ 'label.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td><input name="cid[]" value="{{ post.id }}" type="checkbox" class="adminRowCB"></td>
                <td>{{ post.id }}</td>
                <td><a href="{% if post.isAuthor(app.user) or 'ROLE_ADMIN' in app.user.roles %}{{ path('admin_post_edit', { id: post.id }) }}{% else %}{{ path('admin_post_show', { id: post.id }) }}{% endif %}">{{ post.title }}</a></td>
                <td class="text-center"><div data-toggle="tooltip" title="{{ post.statusText }}">{{ post.statusIcon|raw }}</div></td>
                <td>{{ post.user }}</td>
                <td>{% if post.publishedAt %}{{ post.publishedAt|localizeddate('short', 'short') }}{% endif %}</td>
                <td>{% if post.updatedAt %}{{ post.updatedAt|localizeddate('short', 'short') }}{% endif %}</td>
                <td>{{ post.comments|length }}</td>
                <td>
                    <div class="item-actions">
                        <a href="{{ path('admin_post_show', { id: post.id }) }}" class="btn btn-sm btn-default">
                            {{ 'action.show'|trans }}
                        </a>

                        {% if post.isAuthor(app.user) or 'ROLE_ADMIN' in app.user.roles %}
                            <a href="{{ path('admin_post_edit', { id: post.id }) }}" class="btn btn-sm btn-primary">
                                <i class="fa fa-edit"></i> {{ 'action.edit'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8" align="center">{{ 'post.no_posts_found'|trans }}</td>
           </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="setStatus">Action</label>
            <select class="form-control" name="setStatus" id="setStatus">
                <option value="-99">--Set Status--</option>
                <option value="-1">Trash</option>
                <option value="0">Unpublish</option>
                <option value="1">Publish</option>
                <option value="2">Archive</option>
                <option value="3">Review</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default" onclick="$('#adminListForm').submit();">Apply</button>
    </div>
    </form>
    <script type="text/javascript">
        $("#checkAll").change(function () {
            $(".adminRowCB").prop('checked', $(this).prop("checked"));
        });
    </script>
    <div class="navigation text-center">
        {{ knp_pagination_render(posts) }}
    </div>

{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('admin_post_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus"></i> {{ 'action.create_post'|trans }}
        </a>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Filters</div>
        <div class="panel-body">
            {{ form_start(postform) }}
            {{ form_widget(postform) }}
            {{ form_end(postform) }}
        </div>
    </div>

    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
