{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_new' %}

{% block com_title %}{{ 'title.post_new'|trans }}{% endblock %}

{% block com_actions %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ path('admin_post_index') }}"><i class="fa fa-chevron-left"></i> {{ 'action.back_to_list'|trans }}</a></li>
    </ul>
{% endblock %}



{% block body %}

    {{ form_start(form, { attr: attr|default({}) }) }}
    <div class="row">
        <div id="main" class="col-sm-9">
            {{ include('default/_flash_messages.html.twig') }}
            {{ form_row(form.title) }}
            {{ form_row(form.category) }}
            {{ form_row(form.summary) }}
            {{ form_row(form.content) }}
        </div>

        <div id="sidebar" class="col-sm-3">
            {{ form_row(form.saveAndClose) }}
            {{ form_row(form.saveAndCreateNew) }}
            {{ form_row(form.status) }}
            {{ form_row(form.publishedAt) }}
            {{ form_row(form.user) }}
            {{ form_row(form.allow_comments) }}
        </div>
    </div>
    {{ form_end(form) }}


{% endblock %}

{% block bot_right %}
    {{ show_source_code(_self) }}
{% endblock %}
