{#
   This is the base template used as the application layout which contains the
   common elements and decorates all the other templates.
   See http://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}The Demo Application{% endblock %}</title>

        {% block javascripts %}
            {% javascripts filter="?jsqueeze" output="js/main.js"
            "%kernel.root_dir%/Resources/assets/js/jquery-2.1.4.js"
            "%kernel.root_dir%/Resources/assets/js/jquery-ui-1.11.4.js"
            "%kernel.root_dir%/Resources/assets/js/moment.js"
            "%kernel.root_dir%/Resources/assets/js/bootstrap-3.3.4.js"
            "%kernel.root_dir%/Resources/assets/js/highlight.pack.js"
            "%kernel.root_dir%/Resources/assets/js/bootstrap-datetimepicker.min.js"
            "%kernel.root_dir%/Resources/assets/js/main.js" %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

        {% block stylesheets %}

            {% stylesheets filter="scssphp" output="css/main.css"
                "%kernel.root_dir%/Resources/assets/scss/bootstrap.scss"
                "%kernel.root_dir%/Resources/assets/scss/font-awesome.scss"
                "%kernel.root_dir%/Resources/assets/css/*.css"
                "%kernel.root_dir%/Resources/assets/scss/main.scss"
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body id="{% block body_id %}{% endblock %}">

        {% block header %}
            <header>
                <div class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{{ path('homepage') }}">
                                The Demo Application
                            </a>

                            <button type="button" class="navbar-toggle"
                                    data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-globe"></i> <span class="caret"></span></a>
                                    <ul class="dropdown-menu locales" role="menu">
                                        {% for locale in locales() %}
                                            <li {% if app.request.locale == locale.code %}class="active"{% endif %}><a href="{{ path(app.request.get('_route', 'blog_index'), app.request.get('_route_params', [])|merge({ _locale: locale.code })) }}">{{ locale.name|capitalize }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                            {{ menu_render('Main Menu',{'menu_layout':'navbar-right'}) }}
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}

        <div class="container body-container">
            {% block body %}
                {{ include('default/_flash_messages.html.twig') }}
                <div class="row">
                    <div id="main" class="col-sm-9">

                        {% block main %}{% endblock %}
                    </div>

                    <div id="sidebar" class="col-sm-3">
                        {% block sidebar %}
                            {{ render_esi(controller('FrameworkBundle:Template:template', {
                                'template': 'blog/about.html.twig',
                                'sharedAge': 600,
                                '_locale': app.request.locale
                            })) }}
                        {% endblock %}

                        <div class="">
                            {{ menu_render('Side Menu',{'menu_layout':'sidebar'}) }}
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>

        {% block footer %}
            <footer>
                <div class="container">
                    <div class="row">
                        <div id="footer-copyright" class="col-md-6">
                            {{ menu_render('Footer Menu',{'menu_layout':'footnav'}) }}
                        </div>
                        <div id="footer-resources" class="col-md-6">
                            <p>&copy; {{ 'now'|date('Y') }} DtD Productions &bull; PHP {{ phpver() }}<br />{{ app.request.getSchemeAndHttpHost }}{{ app.request.getBaseURL }}{{ app.request.requestUri  }}
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}

        <!-- Page rendered on {{ 'now'|localizeddate('long', 'long') }} -->
        {% if ga_id %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', '{{ ga_id }}', 'auto');
                ga('send', 'pageview');

            </script>
        {% endif %}
    </body>
</html>
