{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_index' %}

{% block com_title %}Admin{% endblock %}

{% block com_actions %}

{% endblock %}

{% block main %}

<p>Welcome to the admin panel.</p>
    <div class="list-group">
        <a href="{{ path('admin_post_index') }}" class="list-group-item"><i class="fa fa-list-alt"></i> {{ 'menu.post_list'|trans }}</a>
        <a href="{{ path('admin_webform_index') }}" class="list-group-item"><i class="fa fa-clipboard"></i> Web Forms</a>
        <a href="{{ path('admin_category_index',{'catroot':'blog'}) }}" class="list-group-item"><i class="fa fa-tag"></i> Categories: Blog</a>
        <a href="{{ path('admin_category_index',{'catroot':'form'}) }}" class="list-group-item"><i class="fa fa-tag"></i> Categories: Form</a>
        <a href="{{ path('admin_menu_index') }}" class="list-group-item"><i class="fa fa-bars"></i> Menus</a>
        <a href="{{ path('admin_user_index') }}" class="list-group-item"><i class="fa fa-user"></i> Users</a>
    </div>
    {{ app.request.HttpHost }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block bot_right %}
    {{ show_source_code(_self) }}
{% endblock %}
