<article class="post">
    <h2>
        <a href="{{ path('blog_post', { slug: post.slug }) }}">
            {{ post.title }}
        </a>
    </h2>
    <p>{{ post.publishedAt|localizeddate('long', 'medium') }} by <strong>{{ post.user }}</strong></p>
    <ul class="breadcrumb">
        {{ _self.catTree(post.category) }}
    </ul>

    {{ post.summary|md2html }}
</article>

{% macro catTree(category) %}
    {% if category.parent %}
        {{ _self.catTree(category.parent) }}
    {% endif %}
    <li><a href="{{ path('blog_index_category',{'category':category.slug}) }}">{{ category.name }}</a></li>
{% endmacro %}
