
<article class="post">
    <h2>
        <a href="{{ path('blog_post', { slug: post.slug }) }}">
            {{ post.title }}
        </a>
    </h2>
    <div class="row">
        {% if post.postImage %}
            <div class="col-md-3 col-sm-4 col-xs-12">
                <img src="{{ vich_uploader_asset(post, 'post_image_file') }}" class="img-responsive" />
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
        {% else %}
            <div class="col-md-12">
        {% endif %}
            <p>{{ post.publishedAt|localizeddate('long', 'medium') }} by <strong>{{ post.user }}</strong></p>
            {% if post.category is defined %}
                <ul class="breadcrumb">
                    {{ _self.catTree(post.category) }}
            </ul>
            {% endif %}
                {{ post.summary|md2html }}
        </div>
    </div>
</article>

{% macro catTree(category) %}
    {% if category.parent %}
        {{ _self.catTree(category.parent) }}
    {% endif %}
    <li><a href="{{ path('blog_index_category',{'category':category.slug}) }}">{{ category.name }}</a></li>
{% endmacro %}
