{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block main %}
    {% for post in posts %}
        <article class="post">
            <h2>
                <a href="{{ path('blog_post', { slug: post.slug }) }}">
                    {{ post.title }}
                </a>
            </h2>
            <p>{{ post.publishedAt|localizeddate('long', 'medium') }} by <strong>{{ post.user }}</strong></p>
            <ul class="breadcrumb">
                {{ _self.catTree(post.category) }}
            </ul>

            {{ post.summary|md2html }}
        </article>
    {% else %}
        <div class="well">{{ 'post.no_posts_found'|trans }}</div>
    {% endfor %}

    <div class="navigation text-center">
        {{ knp_pagination_render(posts) }}
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}

{% macro catTree(category) %}
    {% if category.parent %}
        {{ _self.catTree(category.parent) }}
    {% endif %}
    <li>{{ category.name }}</li>
{% endmacro %}
