{% extends 'base.html.twig' %}

{% block body_id 'profile' %}

{% block title %}Change Password{% endblock %}

{% block main %}
    <h2>Change Password</h2>
    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="uk-form uk-form-horizontal fos_user_change_password">
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
    </form>
{% endblock %}

{% block sidebar %}
    <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary btn-block"><i class="uk-icon-edit"></i> Edit Profile</a><br>
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
