{% extends 'base.html.twig' %}

{% block body_id 'webform_index' %}

{% block main %}
    {% for webform in webforms %}
        <article class="post">
            <h2>
                <a href="{{ path('webform', { slug: webform.slug }) }}">
                    {{ webform.title }}
                </a>
            </h2>
            <div class="row">
                <div class="col-md-12">
                    <p>{{ webform.publishedAt|localizeddate('long', 'medium') }} by <strong>{{ webform.user }}</strong></p>
                    <ul class="breadcrumb">
                        {{ _self.catTree(webform.category) }}
                    </ul>

                    {{ webform.summary|md2html }}
                </div>
            </div>
        </article>
    {% else %}
        <div class="well">No Web Forms found.</div>
    {% endfor %}

    <div class="navigation text-center">
        {{ knp_pagination_render(webforms) }}
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

{% endblock %}

{% macro catTree(category) %}
    {% if category.parent %}
        {{ _self.catTree(category.parent) }}
    {% endif %}
    <li>{{ category.name }}</li>
{% endmacro %}
