{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_user_edit' %}

{% block com_title %}{{ 'title.edit_user'|trans({'%id%': user.id}) }}{% endblock %}

{% block com_actions %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ path('admin_user_index') }}"><i class="fa fa-chevron-left"></i> Back to User List</a></li>
    </ul>
{% endblock %}

{% block main %}
    {{ include('default/_flash_messages.html.twig') }}

    {{ include('admin/user/_form.html.twig', {
        form: edit_form,
        button_label: 'action.save'|trans,
        include_back_to_home_link: true,
    }, with_context = false) }}
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        {{ include('admin/user/_form.html.twig', {
            form: delete_form,
            button_label: 'Delete User',
            button_css: 'btn btn-lg btn-block btn-danger',
            show_confirmation: true,
        }, with_context = false) }}
    </div>

    {{ parent() }}
{% endblock %}

{% block bot_right %}
    {{ show_source_code(_self) }}
{% endblock %}
