{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_user_new' %}

{% block com_title %}Create User{% endblock %}

{% block com_actions %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ path('admin_user_index') }}"><i class="fa fa-chevron-left"></i> Back to User List</a></li>
    </ul>
{% endblock %}

{% block main %}

    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}
        {{ form_row(form.roles) }}

        <input type="submit" value="Create User" class="btn btn-primary" />

        {{ form_widget(form.saveAndCreateNew, { label: 'Save and New', attr: { class: 'btn btn-primary' } }) }}
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block bot_right %}
    {{ show_source_code(_self) }}
{% endblock %}
