{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_user_show' %}

{% block com_title %}Show User: {{ user.username }}{% endblock %}

{% block com_actions %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ path('admin_user_index') }}"><i class="fa fa-chevron-left"></i> Back to User List</a></li>
        <li><a href="{{ path('admin_user_edit', { id: user.id }) }}"><i class="fa fa-edit"></i> Edit User</a></li>
    </ul>
{% endblock %}

{% block main %}
    <table class="table">
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                    {% for r in user.roles %}
                        {{ r|trans }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="section">
        {{ include('admin/user/_form.html.twig', {
            form: delete_form,
            button_label: 'Delete User',
            button_css: 'btn btn-lg btn-block btn-danger',
            show_confirmation: true,
        }, with_context = false) }}
    </div>
{% endblock %}

{% block bot_right %}
{% endblock %}
